# IntelliJ IDEA
#.idea/workspace.xml
#.idea/tasks.xml
#.idea/dictionaries
out/
target/
# OS
.DS_Store
Thumbs.db
# front-end-pels 쪽에서 build:prod 타겟으로 생성된 static 자원은 .gitignore 에서 등록하여 배제 시킨다. Git 에 add, commit, push 안되게
PELS/src/main/webapp/static
PELS/PELS_MANUAL
# Logs
*.log

# Optional: uncomment to ignore entire legacy workspace
# workspace/
